<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="page-header">
        <h1>Borrowings</h1>
    </div>
</div>
<div class="container" id="searchBoxes">
	<form name="form" novalidate class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-3">Filter by id: </label>
			<div class="col-xs-3">
				<input type="text" ng-model="searchBoxes.id" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3">Filter by start date: </label>
			<div class="col-xs-3">
				<input type="text" ng-model="searchBoxes.startDate" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3">Filter by end date: </label>
			<div class="col-xs-3">
				<input type="text" ng-model="searchBox.endTime" class="form-control">
			</div>
		</div>
	</form> 
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <!--<th>Book</th>
            <th>ISBN</th>-->
            <th>Borrowings from</th>
            <th>Borrowings to</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="borrowing in vm.usersBorrowings | filter:searchBoxes">
            <td>{{borrowing.id}}</td>
            <!--<td>{{borrowing.name}}</td>
            <td>{{borrowing.isbn}}</td>-->
            <td>{{borrowing.startDate | date:'dd.MM.yyyy'}}</td>
            <td>{{borrowing.endDate | date:'dd.MM.yyyy'}}</td>
            <td>
            	<a href="#" class="btn btn-primary">Update</a> 
            	<button ng-click="returnBook(borrowing)" class="btn btn-primary" type="button">Return</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>