<div class="container">
    <div class="page-header">
        <h1>Create new user</h1>
    </div>
</div>
<div class="container">
    <form name="form"  novalidate class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="control-label col-xs-2">First name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="name" name="name" placeholder="First name of user"
                	ng-minlength="2" ng-maxlength="50" ng-model="user.name" required >
                <p class="help-block" ng-show="form.name.$error.required">first name is required</p>
            	<p class="help-block" ng-show="form.name.$error.minlength">first name must be at least 2 characters</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !(form.surname.$valid)}">
            <label for="surname" class="control-label col-xs-2">Last name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Last name of user"
                	ng-minlength="2" ng-maxlength="50" ng-model="user.surname" required>
                <p class="help-block" ng-show="form.surname.$error.required">last name is required</p>
            	<p class="help-block" ng-show="form.surname.$error.minlength">last name must be at least 2 characters</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !(form.email.$valid)}">
            <label for="email" class="control-label col-xs-2">E-mail</label>
            <div class="col-xs-5">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail"
                	ng-model="user.email" ng-pattern="'.+@.+\\....?'" required >
                <p class="help-block" ng-show="form.email.$error.required">email is required</p>
                <p class="help-block" ng-show="form.email.$error.pattern">wrong format of email</p>
            </div>
        </div>
        <div class="form-group">
            <label for="enabled" class="control-label col-xs-2" >Enabled</label>
            <div class="col-md-2">
            	<!--<input type="checkbox" id="enable" name="enable" value="true" ng-model="user.enable"> Yes-->
            	<!-- <div ng-init="user.enable=TRUE"></div> -->
				<label class="radio-inline">
  					<input type="radio" id="enabled-no" name="enabled" ng-value="FALSE" ng-model="user.enabled"> No
				</label> 
            	<label class="radio-inline">
  					<input type="radio" id="enabled-yes" name="enabled" ng-value="TRUE" ng-model="user.enabled"> Yes
				</label>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !(form.age.$valid)}">
            <label for="age" class="control-label col-xs-2" >Age</label>
            <div class="col-md-5">
                <input type="number" name="age" min="1" class="form-control" id="age" placeholder="Age"
                	required integer ng-model="user.age">
                <p class="help-block" ng-show="form.age.$error.required">age is required</p>
            	<p class="help-block" ng-show="form.age.$error.min">age has to be at least 1</p>
            </div>
        </div>
        <div class="form-group" ng-controller='RoleCheckboxCtrl'>
            <label for="roles" class="control-label col-xs-2" >Role</label>
            <div class="col-md-5"  >
    	        <div class="checkbox" ng-repeat="role in roles">
    		        <label>
  						<input type="checkbox" name="roles" checklist-model="user.roles" checklist-value="role.id"> {{role.text}}
					</label>
				</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !(form.password.$valid)}">
            <label for="password" class="control-label col-xs-2" >Password</label>
            <div class="col-md-5">
                <input id="password" class="form-control" placeholder="Password" name="password" type="password"
                	ng-minlength="8" ng-model="user.password" required>
                <p class="help-block" ng-show="form.password.$error.required">password is required</p>
            	<p class="help-block" ng-show="form.password.$error.minlength">password has to have at least 8 characters</p>
            </div>
        </div>
        <div class="form-group" ng-controller="PasswordCtrl">
        <label for="password" class="control-label col-xs-2" >Strenght of password</label>
        	<div class="col-md-5">
            	<div class="progress">
                	<div class="progress-bar"
                		ng-class="{'progress-bar-success': isPasswordStrong(), 'progress-bar-warning': isPasswordOk(), 'progress-bar-danger': isPasswordWeak()}" 
                		aria-valuenow="{{passwordStrength}}" aria-valuemin="0" aria-valuemax="100" style="width: {{passwordStrength}}%">
                	</div>
                </div>
            </div>
        </div>
        <!--<div class="form-group" ng-class="{'has-error': !(form.confirmPassword.$valid)}">
            <label for="confirmPassword" class="control-label col-xs-2" >Confirm password</label>
            <div class="col-md-5">
                <input id="confirmPassword" class="form-control" placeholder="Confirm password" name="confirmPassword" 
                	type="password" ng-model="user.confirmPassword" required data-password-verify="user.password">
                <p class="help-block" ng-show="form.confirmPassword.$error.required">Please confirm your password.</p>
                <p class="help-block" ng-show="form.confirmPassword.$error.passwordVerify">Please confirm your password.</p>
            </div>
        </div> -->
        <!--<div class="form-group" ng-class="{'has-error': !(form.confirmPassword.$valid)}">
            <label for="confirmPassword" class="control-label col-xs-2" >Confirm password</label>
            <div class="col-md-5">
                <input id="confirmPassword" class="form-control" placeholder="Confirm password" name="confirmPassword" 
                	type="password" required ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
                <p class="help-block" ng-show="form.confirmPassword.$error.required">confirm password is required</p>
      			<p class="help-block" ng-show="form.confirmPassword.$error.passwordVerify">passwords are not equal</p>
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button ng-disabled="!form.$valid" ng-click="createUser(user)" type="submit" class="btn btn-primary">Add User</button>
            </div>
        </div>
    </form>
</div>