<!DOCTYPE html>
<html lang="en">

<div class="container">
    <div class="page-header">
        <h1>Books</h1>
    </div>
</div>
<div class="container">
    <a href="#/books/add" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Book
    </a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Book</th>
            <th>ISBN</th>
            <th>Free books</th>
            <th></th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.totalItems}}</td>
            <td>
                <a href="#/book/update/{{book.id}}" class="btn btn-primary">Update</a>
                <button ng-click="reserveBook(book)" class="btn btn-primary" type="submit">Reserve</button>
                <button ng-click="borrowBook(book)" class="btn btn-primary" type="submit">Borrow</button>
                <button ng-click="deleteBook(book)" class="btn btn-primary" type="submit">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>