<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="page-header">
        <h1>Borrowings</h1>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <!--<th>Book</th>
            <th>ISBN</th>-->
            <th>Borrowings from</th>
            <th>Borrowings to</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="borrowing in borrowings">
            <td>{{borrowing.id}}</td>
            <!--<td>{{borrowing.name}}</td>
            <td>{{borrowing.isbn}}</td>-->
            <td>{{borrowing.startDate}}</td>
            <td>{{borrowing.endDate}}</td>
            <td>
            	<a href="#" class="btn btn-primary">Update</a> 
            	<button ng-click="returnBook(borrowing)" class="btn btn-primary" type="submit">Return</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>