<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="page-header">
        <h1>Users</h1>
    </div>
</div>
<div class="container">
    <a href="#/users/add" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add User
    </a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Enabled</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}} {{user.surname}}</td>
            <td>{{user.enabled | yesNo}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td><span ng-repeat="role in user.roles">{{role | lowercase}}, </span></td>
            <td>
            	<a href="#" class="btn btn-primary">Update</a> 
            	<a href="enableUser(user)" class="btn btn-primary">Enable</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>